[package]
name = "ckb-vm-debug-utils"
version = "0.109.0"
authors = ["Xuejie Xiao <xxuejie@gmail.com>"]
edition = "2021"

[features]
default = []
stdio = ["libc", "nix"]

[dependencies]
byteorder = "1"
bytes = "1.0.0"
ckb-vm = "=0.24.0-beta"
env_logger = "0.4.3"
gdb-remote-protocol = { git = "https://github.com/luser/rust-gdb-remote-protocol", rev = "565ab0c" }
libc = { version = "0.2.47", optional = true }
log = "0.4.0"
nix = { version = "0.26.2", optional = true }
