[package]
name = "ckb-debugger"
description = "Standalone debugger for Nervos CKB"
version = "0.109.0"
license = "MIT"
authors = ["Nervos Core Dev <dev@nervos.org>"]
edition = "2021"

[features]
default = ["probes"]
stdio = ["ckb-vm-debug-utils/stdio"]
probes = ["probe", "ckb-script/flatmemory"]

[dependencies]
clap = "2.33.0"
ckb-chain-spec = { git = "https://github.com/nervosnetwork/ckb", branch = "ckb2023" }
ckb-debugger-api = { path = "../ckb-debugger-api" }
ckb-hash = { git = "https://github.com/nervosnetwork/ckb", branch = "ckb2023" }
ckb-mock-tx-types = { path = "../ckb-mock-tx-types" }
ckb-script = { git = "https://github.com/nervosnetwork/ckb", branch = "ckb2023", default-features = false }
ckb-types = { git = "https://github.com/nervosnetwork/ckb", branch = "ckb2023" }
ckb-vm = { version = "=0.24.0-beta" }
ckb-vm-debug-utils = { path = "../ckb-vm-debug-utils" }
ckb-vm-pprof = { path = "../ckb-vm-pprof" }
env_logger = "0.4.3"
faster-hex = "0.4.0"
gdb-remote-protocol = { git = "https://github.com/luser/rust-gdb-remote-protocol", rev = "565ab0c" }
hex = "0.4"
lazy_static = "1.4.0"
libc = "0.2.132"
log = "0.4.0"
rand = "0.8.5"
serde_json = "1.0"
serde_plain = "1.0"
probe = { version = "0.5.0", optional = true }
